$primary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$default-time: 150ms;
$default-easing: ease-in-out;

$ui-bg-color: #f0f4f7;
$main-font-color: #293845;
$mission-list-item-bg-color: #ffffff;
$mission-list-item-border-color: #c3cfd9;
$button-bg-color: #c3cfd9;
$spacex-blue: #1a508b;